/* ===== Porto Principe (Amithen) ===== */
@font-face {
  font-family: 'Amithen';
  src: url('../FONTES/porto-principe/Amithen.ttf') format('truetype'),
       url('../FONTES/porto-principe/Amithen.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

